:root {
  --success: rgba(34, 139, 34, 0.8);
  --success-darken: rgba(34, 139, 34, 1);
  --gray: #999;
  --white: #FFF;
}

html, body {
    margin: 0;
    padding: 0;
}   

.container {
    margin: 10px;
    width: 230px;
    height: 100%;
}

.input-text {
    width: 215px;
    height: 25px;
}

.input-button {
    background-color: var(--success);
    border: 1px solid var(--success-darken);
    color: var(--white);
    height: 30px;
    width: 100%;
}

.mt-10 {
    margin-top: 10px;
}

.result p {
    line-height: 1.2rem;
}

.result hr {
    margin-top: 10px;
    max-width: 100%;
    text-align: center;
    border: 1px solid var(--gray);
}